*{
background-color:black;
}
.Caja{
color:white;

}
.Caja2{
background-color:white;
margin:100px;
width: 600px;
heigth: 600px;
border-radius: 3rem ;
}
.inp-1{
 color: blue;
}
.p{
backgroud-color: white;
}

